.app {
	height: 100vh;
	place-items: center;
	display: grid;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.logo {
	background-image: url(/img/logo.png);
	width: 242px;
	height: 100px;
	position: relative;
	margin: 0 auto 50px auto;
	image-rendering: pixelated;
}
.mais {
	background-image: url(/img/mais.png);
	width: 50px;
	height: 50px;
	position: absolute;
	top: 0;
	left: 0;
	image-rendering: pixelated;
}
.mais:nth-child(1) {
	animation: mais 1.5s infinite;
}
.mais:nth-child(2) {
	background-position: -56px -50px;
	left: calc(50% - 25px);
	animation: mais 1.8s infinite;
}
.mais:nth-child(3) {
	background-position: -106px -50px;
	left: calc(100% - 50px);
	animation: mais 1.3s infinite;
}
.box {
	background-color: #fff;
	min-width: 500px;
	width: 50vh;
	box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.10);
	flex-direction: column;
	display: flex;
	border-radius: 3px;
	transition: box-shadow 75ms ease-out;
}
.box:hover {
	box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.25);
}
.box > .title {
	font-weight: bold;
	font-size: 12px;
	padding: 8px;
	border-bottom: 1px solid #eee;
}
.box > .title i,
.box .article .information > .posted b {
	color: #09c;
}
.box .article {
	margin: var(--article-spacing);
	display: flex;
}
.box .article .image {
	background-image: url(https://www.idhabbo.com.br/media/uploads/news-674d91504a.png);
	width: 120px;
	height: 80px;
	border: 1px solid #fff;
	box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
	flex-shrink: 0;
	cursor: pointer;
}
.box .article .information {
	padding: 0 var(--article-spacing);
}
.box .article .information > .title {
	width: calc(50vh - 170px);
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	font: bold 16px Tahoma;
	color: #000;
	cursor: pointer;
}
.box .article .information > .description,
.box .article .information > .posted {
	font-size: 11px;
	margin-top: 5px;
}
.box .article .information > .votes,
.box .article .information > .votes .up,
.box .article .information > .votes .down {
	font-size: 11px;
	font-weight: bold;
	align-items: center;
	display: flex;
	gap: 5px;
	cursor: pointer;
	image-rendering: pixelated;
}
.box .article .information > .votes {
	gap: 10px;
	margin-top: 5px;
	cursor: default;
}
.box .article .information > .votes {
	display: flex;
}
@keyframes mais {	
	from {
		transform: translateY(100%) scale(0.75);
		opacity: 1;
	}
	50% {
		transform: translateY(0%) scale(1) scaleY(1);
		opacity: 0.25;
	}
	to {
		transform: translateY(100%) scale(0.75);
		opacity: 1;
	}
}

@media (max-width: 500px) {
	.logo {
		margin: 0 auto;
	}
	.box {
		display: none;
	}
}